 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

:root {
  --color-primary: #2563EB;
  --color-secondary: #FBFB24;
}

* {
  font-family: 'Outfit', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif !important;
}
